*,
ul,
li,
div,
span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
canvas,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
canvas{
  margin: 0;
  padding: 0;
}
#map{
  position: relative;
  height: calc(100% - 45px);
  margin: 0;
  padding: 0;
  width: 100%;
}


